<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Signin Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="main.js"></script>
  <script>
    $( document ).ready(function() {
      $('.icon-text').hide()
      $('#message-box').hide()
      $('.nav-link').click(function(){
        $('.nav-link, .tab-pane').removeClass("active");
        $('.nav-link').addClass("bg-dark border-white text-white")

        $(this).addClass("active");
        $(this).removeClass("bg-dark border-white text-white");

        $(this.getAttribute("href")).addClass("active");

      })
      $('.icon-link').hover(
        function(){
          $(this.getElementsByClassName('icon-text')[0]).fadeIn()
        },function(){
          $(this.getElementsByClassName('icon-text')[0]).hide()
        }
      );//end hover 
      $('.message-link').click(function(){
        name = this.getAttribute('username');
        id = this.getAttribute('userid');
        message_box = document.getElementById('message-box');
        document.getElementById('message-header').innerHTML = "Compose message for "+ name;
        message_box.setAttribute('action', "/message_process/"+id);

        if (name == message_box.getAttribute('messagefor')){
          $(message_box).fadeToggle();
        }else{
           $(message_box).fadeIn()
        }
        message_box.setAttribute('messagefor', name);  
      })
    });//end document ready

     
  </script>

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="/">Dashboard</a>
    <form action="/users/edit" class="ml-auto">
      <input type="submit" value="Edit profile" class="form-control btn-large btn-dark border-white ">
    </form>
    <form action="/logout_process" >
      <input type="submit" value="Logout" class="form-control btn-large btn-dark border-white ">
    </form>
  </nav>
  <div class="row">
  <!-- main header and tabs -->
    <div class="container col-8 mx-2 mt-1 bg-dark text-white card pt-2 pb-4">
      <h3 class="mb-3">Your dashboard</h3>
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item ">
            <a class="nav-link font-weight-bold active" data-toggle="tab" href="#all" role="tab">All users</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white border-white font-weight-bold"  data-toggle="tab" href="#profile" role="tab">Your friends</a>
          </li>
          

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="all" role="tabpanel">
            <ul class="list-group border-top-0 bg-white tab-content">
              {% for user in users %}
              <li class="list-group-item border pt-1">
                <div class="form-inline">
                  <img src="https://www.limestone.edu/sites/default/files/user.png" alt="" style="width:40px; height: auto" class=" rounded-circle p-0 align-top"> 
                  <div class=" text-dark col-8">
                    <p class="m-0 font-weight-bold">
                      <!-- <span class="small m-0"> - User ID: {{user.id}}</span> -->
                      {% if user.user_level == 9%}
                      <span class="text-danger"> Bossman </span>
                      {% else %}
                      <span class="text-secondary"> User </span>
                      {% endif %}
                      <a class="text-info" href="/users/{{user.id}}"> -{{user.first_name}} {{user.last_name}}-</a>
                    </p>
                    <ul class="row">
                      <li class="small col-sm-12 col-lg-6 ">ID: {{user.id}}</li>
                      <li class="small col-sm-12 col-lg-6">Email: {{user.email}}</li>
                      <li class="small col-sm-12 col-lg-6">Been here since: {{user.created_at.date}}</li>
                    </ul>
                  </div>
                  <!-- end info panel -->
                  <div class="col-3 d-flex text-dark mt-auto ml-auto p-0 justify-content-end">
                    <a href="/new_request/{{user.id}}" class="text-info icon-link pt-5 px-1">
                    <i class="fas fa-user-friends friend-icon lead"></i>
                      <span class="small font-weight-bold icon-text"> Add friend </span>
                    </a>

                    <a href="#" username="{{user.first_name}}" userid="{{user.id}}" class="text-info icon-link message-link pt-5 px-1">
                    <i class="far fa-comment ml-2 message-icon lead"></i>
                    <span class="small font-weight-bold icon-text"> Message </span>
                    </a>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">berry</div>
        

          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">tab3</div>
          </div>
        <!-- end tab content -->
    </div>

    <div class="col-3 card h-25 p-0 mt-1">
      <ul class="list-group bg-dark">
        <a href="/users/{{self.id}}" class="list-group-item bg-dark list-group-item-action text-light">Your page</a>
        <a href="users/edit" class="list-group-item list-group-item-action bg-dark text-light">Edit info</a>
        <a class="list-group-item list-group-item-action bg-dark text-light ">Notifications</a>
        <div class="bg-dark" style="overflow: scroll; min-height:0px; max-height:175px; ">
        <ul class="list-group">
          <!-- <li class="list-group-item p-1 small">Friend request from Dingus
            <p class="mb-2"><a class="badge badge-success" href="">Accept</a> <a class="badge badge-danger" href="">Decline</a></p>
          </li>
          <li class="list-group-item p-1 small">Friend request from Diangos
            <p class="mb-2"><a class="badge badge-success" href="">Accept</a> <a class="badge badge-danger" href="">Decline</a></p>
          </li>
          <li class="list-group-item p-1 small">Friend request from Diangos
            <p class="mb-2"><a class="badge badge-success" href="">Accept</a> <a class="badge badge-danger" href="">Decline</a></p>
          </li> -->
          {% for request in self.received_friend_requests.all %}
          <li class="list-group-item p-1 small">Friend request from {{request.sender.first_name}}
            <p class="mb-2">
            <a class="badge badge-success" href="/respond_request/{{request.id}}/1">Accept</a> 
            <a class="badge badge-danger" href="/respond_request/{{request.id}}/0">Decline</a></p>
          </li>
          {% endfor %}
        </ul>
        </div>
      </ul>
      {% if messages %}
      {% for message in messages %}
      <li class="text-danger">{{message}}</li>
      {% endfor %}
      {% endif %}
      <form action="" messagefor="" id="message-box" method='post' class="card mt-2">
        {% csrf_token %}
        <h6 id="message-header" class="card-header bg-dark text-white">:</h6>
        <textarea name="content" class=" form-control" rows="5" placeholder="Your text here"></textarea>
        <input type="submit" class="form-control btn btn-dark col-12 ">
      </form>
    </div>
  </div>
</body>
</html>