<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User Info</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="main.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="/">Dashboard</a>
    <form action="/users/edit" class=" ml-auto">
      <input type="submit" value="Edit profile" class="form-control btn-large btn-dark border-white ">
    </form>
    <form action="/logout_process" >
      <input type="submit" value="Logout" class="form-control btn-large btn-dark border-white ">
    </form>
  </nav>

  <div class = "main wrapper ml-2 mt-2 p-0 card bg-light col-8" >
    <div class=" card-header bg-dark text-white">
      <div class="col-4">
        <h4>{{owner.first_name}} {{owner.last_name}}</h4>
        <p>Email: {{owner.email}}</p>
        <p>Birthday: {{owner.birthday}}</p>
      </div>
    </div>
    <div class="row mb-3 card-body">
      <form action="/message_process/{{owner.id}}" method="post" class="col-12" >
        {% csrf_token %}
        <div class="form-group">
          <label for="content ">Leave a message for {{owner.first_name}}:</label>
          <textarea class="form-control" name="content" rows="3" ></textarea>
          <input type="submit" value="Post message" class="form-control bg-dark text-white col-3 mt-1 ml-auto">
        </div>
      </form>
    </div>
    {% for message in owner.received_messages.all %}
    <div class="message col-11 ml-auto" style="min-height: 100px">
      <div class="commentinfo d-flex ">
        <p class="d-inline mb-0">{{message.sender.first_name}} {{message.sender.last_name}} wrote</p>
        <p class="d-inline font-italic ml-auto mb-0"> {{message.created_at}}</p>
      </div>
      <div class="form-control" style="min-height: 80px">
        <p>{{message.content}}</p>
      </div>
      {% for comment in message.comments.all %}
      <div class=" secondary-comment col-11 ml-auto my-3">
        <div class="commentinfo d-flex ml-auto">
          <p class="d-inline mb-0">{{comment.commenter.first_name}} {{comment.commenter.last_name}} wrote</p>
          <p class="d-inline font-italic ml-auto mb-0"> {{comment.created_at}}</p>
        </div>
        <div class="form-control ml-auto" style="min-height: 80px">
          <p>{{comment.content}}</p>
        </div>
      </div>
      {% endfor %}
      <form action="/comment_process/{{message.id}}" method="post" class=" col-11 ml-auto mt-2">
        {% csrf_token %}
        <textarea class="form-control mb-2" name='content' rows="2" id="reply" placeholder="write a message"></textarea>
        <input type="submit" value="Post comment" class="form-control bg-dark text-white col-3 mt-1 ml-auto">
      </form><!-- END COMMENT FORM -->
    </div> <!-- END MESSAGE -->
    {% endfor %}
  </div><!--end mainwrapper-->
</body>
</html>